<div class="mat-toolbar" style="height:50px; position:fixed; bottom:0; width:100%; text-align:center;" (window:resize)="onResize($event)">
    <button *ngIf ="viewPortStart !== 0" style="float:left" mat-button color="primary" (click) = "updateViewPort(-1*viewPortSize)" class="mat-mini-fab"> Prev </button>
    <span> Filter: <input type="text" width="200" [(ngModel)]="searchText" (ngModelChange)="getSearchResults()"/> </span>
    <button *ngIf="hasMoreResults" style="float:right; margin-right:20px;" mat-button class="mat-mini-fab" color="primary" (click) = "updateViewPort(viewPortSize)"> Next </button>
</div>


<ng-container *ngFor="let movie of movieViewPort$ | async">
  <app-movie-box [movieData]="movie" (movieClicked)="onMovieClicked($event)"></app-movie-box>
</ng-container>

